.tarjetasFamilia p{ 
    font-family:$tipography; 
    text-align: center;
    color: $color-primario;
}
.fondoConocenos{ 
    height: 130vh;
    margin-top: 0;
    background-position: relative;
    background-repeat: no-repeat;
    background-size:cover;
    background: rgb(8,8,8);
    background: linear-gradient(56deg, rgba(8,8,8,0.6999592073157388) 21%, rgba(8,8,8,0.7279704117975315) 53%, rgba(8,8,8,0.7587827367275035) 84%),url(../assets/img/FotoFamilia.jpg);
}
.parrafoConocenos{
    margin-bottom: 30px;
    @include estilo-titulo;
    font-style: italic;
    font-size: map-get($fuente-rem, $key:grande);
    font-weight: map-get($fuente-peso, $key:semi);
}