
.galeria li {
                list-style: none; 
                    img {
                        height: 310px; width: 460px;
                        position: relative;
                        overflow: hidden;
}
}

@media screen and (min-width: 600px) {
    .efecto li img {  
        filter: grayscale(100%) ;
    }
    .efecto li img:hover{
    filter: none !important;
    transition: 1s ease;
    z-index: 1;
    scale: 1.6;
    } 
}

