
.galeria li {list-style: none; 
            img {
                height: 310px; width: 460px;
                position: relative;
                overflow: hidden;
                transition: transform 1s ease;
    }
}

.galeria li img:hover {
    transform: scale(200%);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}