
.logo a img {
    width: 60px;
    height: 60px;
}
.imagenHeader {
    background-position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background: rgb(253,178,1);
    background: linear-gradient(90deg, rgba(253,178,1,0.6831524846266632) 20%, rgba(253,178,1,0.9156454818255427) 57%, rgba(253,178,1,1) 100%),  url(../assets/img/Ladrillos.jpg);
}
.header {
    background-color: $color-secundario;
    font-weight: map-get($fuente-peso, $key:medio);
    font-size: map-get($fuente-rem, $key:mediano);
    width: 100%;
    height: auto;
    margin: 0 auto;
    .header li {
        list-style: none;
        .header a {
            text-decoration: none;
            color:$color-primario;
        }
    }
    
}

.animacionLogo:hover {
    animation: mover 1s ease-in-out infinite;
}

@keyframes mover {
    0% {
    transform: translateY(0);
    }
    50% {
    transform: translateY(-10px);
    }
    100% {
    transform: translateY(0);
    }
}

