.main .contenedorVideo {
    height: 500px;
    width: auto;
    background-image: url(../assets/img/FondoHazard2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    iframe {
        display: inline-block;
        margin-top: 10px;
    }
}
@media screen and (max-width: 768px) {
.main .contenedorVideo iframe  {
        margin-top: 110px !important;
        width: 380px !important;
        height: 240px !important;
    }
}   



.fuenteTitulo h1
{
    display: inline-block;
    padding-top: 50px;
    text-align: center;
    color:$color-texto;
    text-shadow: 3px 3px 3px $color-secundario;
    font-family:$tipography;
    font-weight:map-get($fuente-peso,$key:bold);
    font-size: map-get($fuente-rem,$key:grande );
}

.main
{
font-size:map-get($fuente-rem,$key:mediano);
font-family:$tipography; 
color: $color-texto;
}

.body
{
font-size:map-get($fuente-rem,$key:normal);
font-family:$tipography; 
color:$color-texto;
}



.fondoNegro {
    background-color: $color-primario;
    border-color: $color-texto;
}

.intro  {
    border: 6px solid $color-secundario;
    border-radius: 30px;
    padding: 15px;
    display: inline-block;
    text-align: center;
}

.main .intro h2 {
    padding: 10px;
}

.tituloTarjetas {
    text-align: center;
    font-size:map-get($fuente-rem,$key:mediano);
    padding: 30px;
    font-weight:map-get($fuente-peso,$key:bold);
    color:$color-texto;
}