$tipography:'Rubik', sans-serif; 
$color-primario:black;
$color-secundario:rgb(255, 178, 1);
$color-texto: whitesmoke;
$fuente-rem:(
            normal:1rem,
            mediano:1.5rem,
            grande:3rem
            );
$fuente-peso:(
            medio:500,
            semi:600,
            bold:700,
);
@mixin estilo-titulo {
    font-weight: map-get($fuente-peso, $key:semi );
    padding: 20px;
    text-align: center;
}


